
.fade{
  &-enter{
    opacity: 0;
  }
  &-enter-active{
    transition: 0.8s all;
  }
}


.slide{
  &-enter{
    opacity: 0;
    transform: translateY(-50px);
  }
  &-enter-active{
    transform: translateY(0px);
    transition: 0.6s all;
  }
  &-leave-active{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
  }
}
