@import './transitions';

$primary-color: #081F3E;
$secondary-color: #006CFF;

.szakrendelesek,
.orvosok{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.oldalcim{
  font-size: 1.2rem;
  display: inline-block;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media(min-width:960px){
    font-size: 2.5rem;
  }
}

.v-menu__content.theme--light{

  .v-select-list.v-card.theme--light .v-list.v-sheet.v-sheet--tile{
    background-color: rgba(0,108,255,0.2);
  }

}
