<template>
  <div class="contact">
    <transition name="slide" mode='out-in'>
      <BasicLayout>
        <template v-slot:basicpanelContent>
          <p>
            Ez egy demo oldal. Ne adjon meg személyes adatokat!
          </p>
        </template>
      </BasicLayout>
    </transition>
  </div>
</template>

<script>
import BasicLayout from '@/components/BasicLayout.vue'
export default{
  components:{
    BasicLayout,
  }
}
</script>
