<template lang="html">
  <div class="orvosok">
    <transition name="slide" mode='out-in'>
      <BoxLayout v-if="!$route.query.doctorid">
        <template v-slot:leftpanel>
          <v-row justify="center" v-for="(sz, i) in szakrendelesek" :key="i">
            <v-col cols="12" sm="10" offset-sm="1" md="8" offset-md="2">
              <div class="szakrendeles__elnevezes">
                {{sz.elnevezes}}
              </div>
              <!-- orvos -->
              <div v-for="(o,i) in $store.getters.getOrvoslistaBySzakiranyid(sz.id)" :key="i">
                <div
                  class="orvos__nev"
                  @click="$router.push({name:'doctors', query:{doctorid:o.id}})"
                >
                  {{o.nev}}
                </div>
              </div>
            </v-col>
          </v-row>
        </template>

        <template v-slot:rightpanel>
          <v-row justify="center">
            <v-col cols="12" sm="10" md="12">
              <div
                class="orvos__nev rightpanel"
                @click="$router.push({name:'doctors', query:{doctorid:o.id}})"
                v-for="(o,i) in doctors" :key="i"
              >
                {{o.nev}}
              </div>
            </v-col>
          </v-row>
        </template>
      </BoxLayout>

      <div v-if="$route.query.doctorid">
        <div class="orvos-egyedi">
          <DoctorDetail :doctorid="selectedDoctor" />
        </div>
      </div>
    </transition>

  </div>
</template>

<script>
import DoctorDetail from '@/components/DoctorDetail.vue';
import BoxLayout from '@/components/BoxLayout.vue';

export default {
  data(){
    return{
      selectedDoctor: this.$route.query.doctorid,
    }
  },
  computed:{
    doctors(){
      return this.$store.getters.getOrvosListaABC
    },
    szakrendelesek(){
      return this.$store.state.szakrendelesek
    },
  },
  watch:{
    $route(){
      this.selectedDoctor = this.$route.query.doctorid
    }
  },
  mounted(){
    this.selectedDoctor = this.$route.query.doctorid ? this.$route.query.doctorid : ''
  },
  components:{
    DoctorDetail,
    BoxLayout,
  }
}
</script>

<style lang="scss" scoped>
.orvosok{
  font-size: 1.3rem;

  .szakrendeles__elnevezes{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
  }

  .orvos__nev{
    margin-left: 50px;
    color: rgba(0,108,255,1);

    @media(max-width: 400px){
      margin-left: 10px;
    }
      &:hover{
        cursor: pointer;
        color: silver;
      }
  }

  .orvos__nev.rightpanel{
    // color:rgba(8,31,62,1);
    color: #eee;
    margin-left: 10px;

    &:hover{
      cursor: pointer;
      color: silver;
    }
  }
}




</style>
