<template>
  <div class="home">
    <Warning/>
    <Appointment />
    <Szakrendelesek />
  </div>
</template>

<script>
import Warning from '@/components/Warning.vue'
import Szakrendelesek from '@/components/Szakrendelesek.vue'
import Appointment from '@/components/Appointment.vue'

export default {
  data(){
    return {

    }
  },
  components: {
    Szakrendelesek,
    Appointment,
    Warning
  }
}
</script>

<style lang="scss">

p{
  text-align: justify;
}

</style>
