<template lang="html">
  <div class="pricing">
    <transition name="slide" mode='out-in'>
      <BasicLayout v-if="selectedDoctorId==''">
        <template v-slot:basicpanelContent>
          <v-row justify="center" class="orvoslista">
            <v-col cols="11" sm="10" md="6">
              <div class="oldalcim">
                Árlista
              </div>
              <div
                class=""
                v-for="(o,i) in doctors" :key="i"
                @click="$router.push({name:'pricing', query:{doctorid:o.id}})"
              >
                <span class="orvos__nev">{{o.nev}}</span>
              </div>
            </v-col>
          </v-row>
        </template>
      </BasicLayout>



      <BasicLayout class="arlista" v-if="selectedDoctorId!=''">
        <template v-slot:basicpanelContent>
          <v-row justify="center">
            <v-col cols="11">
              <div class="oldalcim">
                {{selectedDoctor.nev}} árlistája
              </div>
              <v-row class="tetel" v-for="(tetel,i) in arlista" :key="i">
                <v-col cols="12" sm="6" offset-sm="1" >
                  <div class="tetelinfo">
                    <span class="elnevezes">{{tetel.elnevezes}}</span>
                    <span class="ar"> -- {{tetel.ar}}Ft</span>
                  </div>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </template>
      </BasicLayout>

    </transition>
  </div>
</template>

<script>
import BasicLayout from '@/components/BasicLayout.vue'
export default {
  data(){
    return {
      selectedDoctorId: '',
    }
  },
  computed:{
    doctors(){
      return this.$store.getters.getOrvosListaABC
    },
    selectedDoctor(){
      if (this.selectedDoctorId!='') {
        return this.$store.getters.getOrvosByID(this.selectedDoctorId)
      } else{
        return ''
      }
    },
    arlista(){
      return this.$store.getters.getArlistaByOrvosid(this.selectedDoctorId)
    }
  },
  watch:{
    $route(){
      this.selectedDoctorId = this.$route.query.doctorid ? this.$route.query.doctorid : ''
    }
  },
  mounted(){
    this.selectedDoctorId = this.$route.query.doctorid ? this.$route.query.doctorid : ''
  },
  components:{
    BasicLayout,
  }
}
</script>

<style lang="scss" scoped>
.orvoslista{
  .orvos__nev{
    color: $primary-color;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid transparent;
    font-size: 1.5rem;

    &:hover{
      color: $secondary-color;
      transition: all 0.3s ease-out;
      border-bottom: 1px solid $secondary-color;
      cursor:pointer;
    }
  }
}

.arlista{
  .orvos__nev{
    color: $primary-color;
  }
  .tetelinfo{
    border-bottom: 1px solid $primary-color;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 1.1rem;
  }
}
</style>
