<template lang="html">
  <div class="appointment">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="9" md="10">

        <v-row no-gutters class="formrow">
          <!-- form  -->
          <v-col cols="12" md="8" class="formpanel">

              <v-form ref="form">
                <v-sheet color="primary" dark>
                  <v-row>
                    <v-col cols="12" md="6">
                      <v-select
                        label="Szakrendelés"
                        :items="szakrendeleslista"
                        v-model="formdata.szakrendeles"
                        :rules="[rules.required,]"
                      ></v-select>
                    </v-col>

                    <v-col cols="12" md="6">
                      <v-select
                        label="Orvos"
                        :items="orvoslista"
                        v-model="formdata.orvos"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                      <v-col cols="12" md="6">
                        <v-menu
                          v-model="datemenu"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            prepend-icon="mdi-calendar"
                            autocomplete="off"
                            v-model="formdata.date"
                            label="Válasszon napot!"
                            v-on="on"
                            :rules="[rules.date,]"

                          ></v-text-field>
                        </template>
                        <v-date-picker @input="datemenu=false" v-model="formdata.date" no-title scrollable>
                          <v-spacer></v-spacer>
                        </v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-menu
                          ref="timemenu"
                          v-model="timemenu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          :return-value.sync="formdata.time"
                          transition="scale-transition"
                          offset-y
                          autocomplete="off"
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              autocomplete="off"
                              v-model="formdata.time"
                              label="Válasszon időpontot!"
                              prepend-icon="mdi-clock"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-time-picker
                          format="24hr"
                            v-if="timemenu"
                            v-model="formdata.time"
                            full-width
                            @click:minute="$refs.timemenu.save(formdata.time)"
                          ></v-time-picker>
                        </v-menu>
                      </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="12" md="4">
                      <v-text-field
                        autocomplete="off"
                        label="Név"
                        background-color="transparent"
                        v-model="formdata.nev"
                        :rules="[rules.required,rules.basic]"
                      >  </v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        autocomplete="off"
                        label="Email"
                        background-color="transparent"
                        v-model="formdata.email"
                        :rules="[rules.required,rules.email,rules.basic]"
                      >  </v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        autocomplete="off"
                        label="Telefonszám"
                        background-color="transparent"
                        v-model="formdata.telefon"
                        :rules="[rules.required, rules.basic]"
                      >  </v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="12" md="8">
                      <v-textarea
                        v-model="formdata.uzenet"
                        label="Egyéb megjegyzés"
                          rows="3"
                        ></v-textarea>
                    </v-col>
                    <v-col cols="12" md="2" align-self="center">
                      <div class="bigbutton" @click="sendForm">
                        <div class="leftbutton">
                          Elküldöm!
                        </div>
                        <div class="rightbutton">
                          <v-icon>mdi-plus</v-icon>
                        </div>
                      </div>
                    </v-col>
                  </v-row>

                </v-sheet>
              </v-form>
              <v-snackbar
                absolute
                v-model="showSnackbar"
                bottom
                color="secondary"
                :timeout="timeout"
              >
                Köszönjük üzenetét, hamarosan jelentkezünk!
                <v-btn
                  dark
                  text
                  @click="showSnackbar = false"
                >
                  Bezár
                </v-btn>
              </v-snackbar>
          </v-col>

          <!-- info panel -->
          <v-col cols="12" md="4" class="infopanel">
            <v-sheet dark color="secondary">
              <div class="infoitem">
                <div class="icon">
                  <v-icon>mdi-clock</v-icon>
                </div>
                <div class="firstline">
                  Hétfő-Szombat: 8.00-18.00
                </div>
                <div class="secondline">
                  Vasárnap zárva.
                </div>
              </div>
              <div class="infoitem">
                <div class="icon">
                  <v-icon>mdi-map-marker</v-icon>
                </div>
                <div class="firstline">
                  1234 Mintaváros
                </div>
                <div class="secondline">
                  Mintautca 1.
                </div>
              </div>
              <div class="infoitem">
                <div class="icon">
                  <v-icon>mdi-email</v-icon>
                </div>
                <div class="firstline">
                  +3612345678
                </div>
                <div class="secondline">
                  info@medicalcenterminta.hu
                </div>
              </div>
            </v-sheet>
          </v-col>
        </v-row>

      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data(){
    return {
      formdata: {
        nev: '',
        email: '',
        telefon: '',
        date: '',
        time: '',
        uzenet: '',
        orvos: '',
        szakrendeles: ''
      },
      showSnackbar: false,
      timeout: 2000,
      datemenu: false,
      timemenu: false,
      rules: {
        required: v => !!v || 'Kötelező megadni!',
        email:  v => /.+@.+\..+/.test(v) || 'Email cím formátuma nem megfelelő',
        basic: v=> {
          if(v!==undefined){
            return v.length>5 && v.length<51 || 'Min 6, max 50 karakter.'
          }else{
            return true
          }
        },
        date: v=>{
          let now = new Date()
          let picked = new Date(v)
          if (picked<now) {
            return 'A dátum nem lehet régebbi a mai napnál'
          }else{
            return true
          }
        }
      }
    }
  },
  computed: {
    orvoslista(){
      let olist = []
      if (this.formdata.szakrendeles=='' || this.formdata.szakrendeles==undefined) {
        olist = ['válasszon előbb szakrendelést']
      }else{
        olist = ['-nem választok-']
        let szakrendelesid = this.$store.state.szakrendelesek.filter(sz=>sz.elnevezes==this.formdata.szakrendeles)[0].id;

        let orvoslista = this.$store.getters.getOrvoslistaBySzakiranyid(szakrendelesid)

        for (var i = 0; i < orvoslista.length; i++) {
          olist.push(orvoslista[i].nev)
        }

      }
      return olist
    },
    szakrendeleslista(){
      let szlista=[]
      for (var i = 0; i < this.$store.state.szakrendelesek.length; i++) {
        szlista.push(this.$store.state.szakrendelesek[i].elnevezes)
      }
      return szlista
    },
    idopont(){
      if (this.formdata.date) {
        return this.formdata.date + ' ' + this.formdata.time
      }else{
        return ""
      }

    }
  },
  methods: {
    sendForm(){
      if (this.$refs.form.validate()) {
        let newform = {
          nev: this.formdata.nev,
          email: this.formdata.email,
          telefon: this.formdata.telefon,
          idopont: this.idopont,
          uzenet: this.formdata.uzenet,
          orvos: this.formdata.orvos,
          szakirany: this.formdata.szakrendeles,
        }
        axios.post('http://51.105.236.88/borokaproba/items/contact', newform)
        .then(()=>{
          this.$refs.form.reset()
          this.showSnackbar = true;
        })
        .catch(()=>{
          alert('Az üzenetküldés nem sikerült. Lehet, h nincs kapcsolat a szerverrel.')
        })

      }

    },
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/global.scss';
.appointment{
  margin-top: -100px;
  position: relative;
  z-index: 3;

  & > .row{
    margin: 0 10px;
  }
}


.v-sheet{
  border-radius: 0;
  @media(min-width:960px){
    height: 420px;
  }
}

.formpanel{
  position: relative;
}
.formpanel .v-sheet{
  padding: 20px;

  .col-12, .col-md-6, .col-md-4, .col-md-8{
    padding-top:0;
  }
}

.infopanel .v-sheet{
  padding: 30px;
  font-size: 14px;

  .infoitem{
    margin: 20px 0;

    @media(max-width:959px){
      text-align: center;
    }
    .icon{
      margin-bottom: 10px;
    }
  }
}

.bigbutton{
  display: flex;
  width: 100px;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  // margin-left: auto;
  // margin-right: auto;
  transition: all 0.5s ease-out;


  .leftbutton,
  .rightbutton{
    padding: 15px;
  }

  .leftbutton{
    background-color: $secondary-color;
    transition: all 0.5s ease-out;
  }
  &:hover .rightbutton{
    background-color: $secondary-color;
    transition: all 0.5s ease-out;
  }
  &:hover .leftbutton{
    background-color: transparent;
    transition: all 0.5s ease-out;
  }

  &:hover{
    cursor: pointer;
  }
}
</style>
