<template lang="html">
  <div class="basicpanel">
    <v-row justify="center">
      <v-col cols="11" md="10" class="basicpanel--body">
        <slot name="basicpanelContent"></slot>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.basicpanel{
  position: relative;
  margin-top: -100px;
  z-index: 4;
  min-height: 500px;

  .basicpanel--body{
    min-height: 500px;
    border: 2px solid $secondary-color;
    background-color: rgba(250,250,250,0.9);
  }
}
</style>
