<template lang="html">
  <div class="bigpanel">
    <v-row justify="center">
      <v-col cols="12" md="10">

        <v-row no-gutters>
          <!-- left panel -->
          <v-col cols="12" md="8" class="leftpanel">
            <v-sheet tile>
              <slot name="leftpanel"></slot>
            </v-sheet>
          </v-col>

          <!-- right panel -->
          <v-col cols="12" md="4" class="rightpanel">
            <v-sheet tile>
              <slot name="rightpanel"></slot>
            </v-sheet>
          </v-col>

        </v-row>

      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.bigpanel{
  position: relative;
  margin-top: -100px;
  z-index: 4;
  min-height: 300px;

  .leftpanel .v-sheet,
  .rightpanel .v-sheet{
    height: 100%;
    padding: 10px;

    @media(min-width:960px){
      min-height: 300px;
    }

  }

  .leftpanel .v-sheet{
    background: rgba(8,31,62,1);

    @media(min-width:960px){
      padding: 50px;
    }
  }
  .rightpanel .v-sheet{
    background: rgba(0,108,255,1);
  }
}
</style>
