<template lang="html">
  <div class="doctordetail" v-if="orvos!=''">

    <BasicLayout>
      <template v-slot:basicpanelContent>
        <v-row justify="center">
          <v-col cols="12" sm="8" md="5" offset-md="1">
            <v-img :src="orvoskepsrc" lazy-src="https://picsum.photos/id/11/10/6"></v-img>
          </v-col>
          <v-col cols="12" sm="8" offset-sm="1" md="5">
            <div class="orvos__nev">
                {{orvos.nev}}
            </div>
            <div class="szakiranylista">
              <div class="szakirany" v-for="(sz,i) in szakiranyok" :key="i">
                {{sz}}
              </div>
            </div>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-col cols="12" sm="10">
            <p>
              {{orvos.bemutatkozas}}
            </p>
            <v-btn color="primary" @click="$router.push({name:'pricing', query:{doctorid:doctorid}})">Árlista</v-btn>
          </v-col>
        </v-row>
      </template>
    </BasicLayout>
  </div>
</template>

<script>
import BasicLayout from '@/components/BasicLayout.vue'
import axios from 'axios'
export default {
  props: {
    doctorid: {
      required: true
    }
  },
  data(){
    return {
      orvoskepsrc: "https://image.shutterstock.com/image-photo/beautiful-smiling-young-indian-lady-600w-282001379.jpg"
    }
  },
  computed:{
    orvos(){
      return this.$store.getters.getOrvosByID(this.doctorid)
    },
    szakiranyok(){
      return this.$store.getters.getSzakiranylistaByOrvosid(this.doctorid)
    },
  },
  components:{
    BasicLayout,
  },
  mounted(){
  let egyedisrcid = this.orvos.doctor_image.id
   axios.get(`http://51.105.236.88/borokaproba/files/${egyedisrcid}`)
   .then(res=>{
     this.orvoskepsrc = res.data.data.data.full_url
   })
  }
}
</script>

<style lang="scss" scoped>
.orvos__nev{
  font-size: 30px;
  color: $primary-color;
  font-weight: 500,400;
  letter-spacing: 1px;

  @media(min-width:960px){
    margin-top: 30px;
  }
}
.szakiranylista{
  margin-top: 10px;
  font-size: 22px;
}
</style>
