<template lang="html">
  <div class="carouselcontainer">
    <div class="maincarousel">
      <v-carousel
        hide-delimiters
        cycle
        interval="10000"
        :show-arrows="false"
        :height="carouselheight"
      >
        <v-carousel-item
          v-for="(pic, i) in carouselpics"
          :key="i"
          :src="require(`@/assets/images/maincarousel/${pic.pic}.jpg`)"
        >
          <v-sheet>
            <div class="carouseltextcontainer">
              <div class="carouseltext">
                <h2>{{pic.title}}</h2>
                <p>{{pic.desc}}</p>
              </div>
            </div>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      carouselpics: [
        {
          pic:"maincarousel1",
          title: "Megbízhatóság",
          desc: "Mert az egészség a legfontosabb."
        },
        {
          pic:"maincarousel2",
          title: "Bejelentkezés",
          desc: "Mert az idő pénz."
        },
        {
          pic:"maincarousel3",
          title: "Szakmaiság",
          desc: "Gyakorlott szakorvosok."
        },
      ],
    }
  },
  computed:{
    carouselheight(){
      if (this.$vuetify.breakpoint.xsOnly) {
        return 350
      }else return 450;
    }
  },
}
</script>

<style lang="scss" scoped>
  .carouselcontainer{

    margin-top: -100px;

    @media(max-width: 600px){
      margin-top: -70px;
    }

    .carouseltextcontainer{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.6);

      .carouseltext{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        justify-content: center;
        align-items:flex-start;
        color: #000;

        @media(max-width: 600px){
          width: 90%;
          justify-content: center;
          align-items:center;
        }

        h2{
          font-size: 3rem;
          letter-spacing: 1.2px;

          @media(max-width: 600px){
            font-size: 2rem;
          }
        }

        p{
          font-size: 1.8rem;

          @media(max-width: 600px){
            font-size: 1.1rem;
          }
        }
      }

    }

    .v-window
      { &-x-transition,
        &-x-reverse-transition,
        &-y-transition,
        &-y-reverse-transition {
          &-enter-active, &-leave-active {
            transition: 2s cubic-bezier(.25, .8, .5, 1) !important;
          }
        }
      }
  }
</style>
