<template lang="html">
  <div v-if="szakrendelesek" class="szakrendelesek">
    <v-row>
      <v-col
        cols="12" md="6" lg="4"
        v-for="szakrendeles in szakrendelesek"
      >
        <div class="szoveg">
          <h3>{{szakrendeles.elnevezes}}</h3>
          <p>{{szakrendeles.leiras}}</p>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data(){
    return {
    
    }
  },
  computed:{
    szakrendelesek(){
      return this.$store.state.szakrendelesek;
    }
  }
}
</script>

<style lang="scss" scoped>
.szakrendelesek{
  margin-top: 30px;
}

.szoveg{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h3{
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
</style>
