<template lang="html">
  <div class="warning">
    <v-row justify="center">
      <v-dialog v-model="showWarning" persistent max-width="290">
        <v-card color="red">
          <v-card-title class="headline">FIGYELEM! DEMO!</v-card-title>
          <v-card-text>
            Az oldal bemutató céljára készült. Ne adjon meg személyes adatokat!
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="black" dark @click="showWarning = false">Értettem!</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
export default {
  data(){
    return{
      showWarning: true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
