<template>
  <v-app>
    <v-system-bar
      app
      color="primary"
      dark
      :class="{mobileSystem: $vuetify.breakpoint.xsOnly}"
      :height="calculatedSysBarHeight"
      absolute
      v-if="showSystembar"
    >
      <div class="red--text">
        DEMO
      </div>
      <v-spacer></v-spacer>
      <div class="nyitvatartas mr-5">
        Nyitva minden hétköznap
        <span class="secondary--text">
          8.00-18.00
        </span>
      </div>
      <div class="phone ">
        Telefonszám:
        <span class="secondary--text">
          +3612345678
        </span>
      </div>
    </v-system-bar>

    <v-app-bar
      dark
      app
     :color="appbarColor"
     :height="appbarHeight"
     :absolute="appbarAbsolute"
     :fixed="appbarFixed"
    >
    <div class="healthlogo">
      <router-link tag="div" :to="{ name: 'home'}">Bubó Bubó Klinika</router-link>
    </div>

    <v-spacer></v-spacer>
    <nav
      class="d-none d-md-flex"
    >
      <router-link exact :to="{ name: 'home', params: {} }">Főoldal</router-link>
      <router-link :to="{ name: 'doctors', params: {} }">Orvosaink</router-link>
      <router-link :to="{ name: 'pricing', params: {} }">Árlista</router-link>
      <router-link :to="{ name: 'about', params: {} }">Rólunk</router-link>
      <router-link :to="{ name: 'contact', params: {} }">Kapcsolat</router-link>
    </nav>

    <v-app-bar-nav-icon
      class="d-flex d-md-none"
      @click="showMobilNav=!showMobilNav"
    ></v-app-bar-nav-icon>

    </v-app-bar>

    <v-dialog
      v-model="showMobilNav"
    >
      <v-card>
        <v-sheet color="primary" class="mobilnavcard">
          <router-link class="mobilnavlink" @click.native="showMobilNav=false" exact :to="{ name: 'home', params: {} }">Főoldal</router-link>
          <router-link class="mobilnavlink" @click.native="showMobilNav=false" :to="{ name: 'doctors', params: {} }">Orvosaink</router-link>
          <router-link class="mobilnavlink" @click.native="showMobilNav=false" :to="{ name: 'pricing', params: {} }">Árlista</router-link>
          <router-link class="mobilnavlink" @click.native="showMobilNav=false" :to="{ name: 'about', params: {} }">Rólunk</router-link>
          <router-link class="mobilnavlink" @click.native="showMobilNav=false" :to="{ name: 'contact', params: {} }">Kapcsolat</router-link>
        </v-sheet>
      </v-card>
    </v-dialog>

    <v-content>
      <v-container fluid>
        <MainCarousel />
        <transition name="fade" appear mode="out-in">
          <router-view></router-view>
        </transition>
      </v-container>
    </v-content>

    <v-btn fab class="serverStatusButton" :color="$store.state.cmsloaded ? 'green' : 'red'">
      <v-icon v-if="$store.state.cmsloaded">mdi-cloud-check</v-icon>
      <v-icon
        v-if="!$store.state.cmsloaded"
        @click="checkCMSServer">mdi-cloud-alert</v-icon>
    </v-btn>

    <v-footer padless>
      <v-col
        class="text-center"
        cols="12"
      >
        <div class="">
          <a href="https://www.zsigmondildiko.hu/" target="_blank">IldikoZsigmond</a> {{ new Date().getFullYear() }}
        </div>
        <div class="">
          <a href="https://www.pexels.com/" target="_blank">Képek: pexels.com</a>
        </div>
        <div class="">
          <a href="https://colorlib.com/wp/template/medilife/" target="_blank">Design ötlet: colorlib.com</a>
        </div>
      </v-col>
    </v-footer>

  </v-app>
</template>

<script>
import MainCarousel from '@/components/MainCarousel.vue'

export default {
  name: 'App',
  data: () => ({
    appbarColor: "rgba(0,108,255,0.4)",
    appbarHeight: "100px",
    showSystembar: true,
    appbarAbsolute: true,
    appbarFixed: false,
    showMobilNav: false
  }),

  components: {
    MainCarousel,
  },
  computed:{
    calculatedSysBarHeight(){
      if (this.$vuetify.breakpoint.xsOnly && this.showSystembar) {
        return 60
      }
      else if (this.showSystembar){
        return 30
      }
      else return 0;
    }
  },
  methods:{
    modifyTopBars(){
      window.onscroll = () => {
        if(document.documentElement.scrollTop < 50){
          this.showSystembar = true;
          this.appbarColor = "rgba(0,108,255,0.4)";
          this.appbarHeight = "100px"
          if (this.$vuetify.breakpoint.xsOnly) {
            this.appbarHeight = "70px"
          }
          this.appbarAbsolute = true;
          this.appbarFixed = false;
        }
        else{
          this.showSystembar = false;
          this.appbarColor = "rgba(8,31,62,1)";
          this.appbarHeight = "70px"
          this.appbarAbsolute = false;
          this.appbarFixed = true
        }
      }
    },
    checkCMSServer(){
      this.$store.dispatch('connectToServer')
    },
  },
  mounted(){
    this.modifyTopBars();
  }

};
</script>
<style lang="scss">
  @import './styles/global.scss';

  .v-application.v-application,
  .v-system-bar.v-system-bar--fixed,
  header.v-app-bar{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .container.container--fluid{
    padding: 0;
  }

  .mobileSystem{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.v-system-bar{
      padding: 8px 8px;
    }
  }

  .v-app-bar{
    .healthlogo{
      text-transform: uppercase;
      font-weight: 500;
      &:hover{
        color: $primary-color;
        cursor: pointer;
      }
    }

  nav a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    margin: 0px 5px;
    color: white;
    transition: all 0.8s;

    &:hover{
      background-color: $secondary-color;
      transition: all 0.8s;
    }
  }

  nav .router-link-active{
    background-color: $secondary-color;
    }
  }

  .mobilnavcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    min-width: 80%;

    a.mobilnavlink{
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      padding:5px 10px;
      margin: 20px 0;
    }

    a.mobilnavlink.router-link-active{
      background-color: $secondary-color;
    }
  }

  .serverStatusButton{
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 30;

    .mdi-cloud-check,
    .mdi-cloud-alert{
      color: white;
    }
  }

.v-footer a{
  text-decoration: none;

  &:hover{
    color: $secondary-color;
  }
}
</style>
